<div class="panel panel-primary">
    <div class="panel-heading" id="lang1">Message List</div>
    
    <div class="panel-body">
        <p><%= notice %></p>
        <% @messages.each do  |message| %>
            <span class="label label-info"><%= message.name %></span>
            <%= message.body %>
            <br />
        <% end %>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" id="lang2">Entry</div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="row">
<%= form_for(Message.new) do |f| %>
                <div class="col-xs-12">
                    <div class="form-group mgt10 mgl10">
                        <div class="label label-success" id="lang3"><span class="glyphicon glyphicon-user" aria-hidden="true"> Name</div>
                        <%= f.text_field :name, class: "" %>
                    </div>
                </div>                
                <div class="col-xs-12">
                    <div class="form-group mgt10 mgl10">
                        <div class="label label-success" id="lang4"><span class="glyphicon glyphicon-comment" aria-hidden="true"> Message</div>
                        <%= f.text_area :body %>
                    </div>
                </div>
                <%= f.submit class: "btn btn-sm btn-primary mgl20", value: "Send Message" %>
<% end %>
            </div>
        </div>
    </div>
</div>
