<div class="panel panel-primary">
    <div class="panel-heading" id="title-message">Message List</div>
    
    <div class="panel-body">
        <% @messages.each do  |message| %>
            <span class="label label-info"><%= message.name %></span>
            <%= message.body %>
            <br />
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <fieldset>
            <div class="panel panel-default" style="background-color: #eeeeee;">
                <div class="panel-body" id="lang2"><legend class="f15em" id="title-post">Post</legend>
                    <div class="row">
                        <div class="col-xs-12">
<%= form_for(Message.new) do |f| %>
                            <div class="form-group mgt10">
                                <label id="input-name" for="name" class="control-label"><span class="glyphicon glyphicon-user" aria-hidden="true"> Name</label>
                                <p><%= f.text_field :name, class: "form-control", placeholder: "name", id: "name" %></p>
                            </div>
                            <div class="form-group mgt10">
                                <label id="input-message" for="message" class="control-label"><span class="glyphicon glyphicon-comment" aria-hidden="true"> Message</label>
                                <p><%= f.text_area :body, class: "form-control", placeholder: "Message", id: "message" %></p>
                            </div>
                            <%= f.submit class: "btn btn-sm btn-primary", value: "Post Message" %>
<% end %>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
